body {
	background: #f3f2f3;
	color: #000000;
	font-family: Trebuchet MS, Arial, Times New Roman;
	font-size: 12px;
}

#wrapper {
	background: #FFFFFF;
	margin: 10px auto;
	width: 900px;
	height: 1024px;
}

#header {
	background: #80dfff;
	height: 200px;
	width: 900px;	
}

#navigation {
	background: #e6f9ff;
	width: 900px;
	height: 50px;
}

#content {
	background: #ccf2ff;
	width: 600px;
	height: 624px;
	float: left;
}
 
#menu {
	background: #b3ecff;	
	height: 624px;
}

#footer {
	background: #99e6ff;
	height: 180px;
	width: 900px;
}
